[Unit]
Description=BusyBox Telnet Daemon for ConnectOhm CLI Setup
After=network.target

[Service]
Type=simple
ExecStart=/bin/busybox telnetd -F -p 2323 -l /usr/local/bin/ctohm-wifi.sh

# Run as root so the script can modify nmcli/system files and update the OLED
User=root
Group=root

Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
